# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages that Data Scientists use.
* Comment on Data Science tools.
* List commonly used libraries used by Data Scientists.

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. Pytorch
4. Numpy

|Data Science Tools|
|------------------|
|Apache Spark|
|Apache Hadoop|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this is an example of an arithmetic expression in python
(3*7) + 11

32

In [2]:
# Floating Expressions
a = 13
b = 5
  
c = a / b
print(c)

2.6

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60

x//y

3

## Author:
Tlotlego Molale